# Data Synthesis from the Hannum data

## 1. Data loading

 Let's set the notebook in autoreload mode and load the required libraries

In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
from biolearn.data_library import DataLibrary
import pandas as pd
from sdv.metadata import Metadata

First we load the data

In [ ]:
hannum_acc = 'GSE40279'
if 'hannum' not in locals():
    # Load the dataset
    # This will download the dataset if it is not already available
    # The dataset is from the GEO database, specifically GSE40279
    hannum = DataLibrary().get(hannum_acc).load()
print(f'{hannum.dnam=}')
print(f'{hannum.metadata=}')

hannum.dnam=                GSM989827  GSM989828  ...  GSM990626  GSM990627
id                                    ...
cg00000029       0.464197   0.454883  ...   0.499145   0.458600
cg00000108       0.941091   0.939033  ...   0.931690   0.974731
cg00000109       0.911182   0.596455  ...   0.900938   0.829869
cg00000165       0.132014   0.206917  ...   0.167477   0.170578
cg00000236       0.717861   0.723935  ...   0.730215   0.782844
...                   ...        ...  ...        ...        ...
ch.9.98937537R   0.042808   0.036811  ...   0.056429   0.040701
ch.9.98957343R   0.052589   0.053343  ...   0.047835   0.027499
ch.9.98959675F   0.035624   0.075618  ...   0.028896   0.000000
ch.9.98989607R   0.028066   0.017428  ...   0.025346   0.011863
ch.9.991104F     0.043850   0.032950  ...   0.052959   0.085375

[473034 rows x 656 columns]
hannum.metadata=            age  sex             ethnicity       tissue
id
GSM989827  67.0    1  Caucasian - European  whole blood
GSM989828  89.0    1  Caucasian - European  whole blood
GSM989829  66.0    1  Caucasian - European  whole blood
GSM989830  64.0    1  Caucasian - European  whole blood
GSM989831  62.0    1  Caucasian - European  whole blood
...         ...  ...                   ...          ...
GSM990623  78.0    1  Caucasian - European  whole blood
GSM990624  71.0    2  Caucasian - European  whole blood
GSM990625  68.0    2  Caucasian - European  whole blood
GSM990626  61.0    1  Caucasian - European  whole blood
GSM990627  73.0    2  Caucasian - European  whole blood

[656 rows x 4 columns]

Now let's make a biolearn function to do load an accession, choose a target, and wrap it together in a dataframe, so that we can augment it with SDV

In [ ]:
def get_biolearn_df(accession: str, target_col: str | None = None) -> tuple[pd.DataFrame, Metadata]:
    """
    Returns the Biolearn Dataset for the specified accession, including all the methylation data and the selected target column.
    """
    data = DataLibrary().get(accession).load()
    if target_col is not None and target_col not in data.metadata.columns:
        raise ValueError(f"Target column '{target_col}' not found in metadata."
                         f" Available columns: {data.metadata.columns.tolist()}")
    df = (data.dnam.T.join(data.metadata[target_col]) if target_col else 
          data.dnam.T)

    return (
        df,
        Metadata.detect_from_dataframe(
            data=df,
            table_name=accession))
hannum_data, hannum_metadata = get_biolearn_df(hannum_acc, target_col='age')
print(f'{hannum_data.shape=}')
display(hannum_data.head())

hannum_data.shape=(656, 473035)

           cg00000029  cg00000108  ...  ch.9.991104F   age
GSM989827    0.464197    0.941091  ...      0.043850  67.0
GSM989828    0.454883    0.939033  ...      0.032950  89.0
GSM989829    0.485764    0.918802  ...      0.022375  66.0
GSM989830    0.480785    0.929908  ...      0.053007  64.0
GSM989831    0.501220    0.934548  ...      0.000000  62.0

[5 rows x 473035 columns]

Now we can just synthesise more data!

# 2. Basic Usage

## 2.1 Creating a Synthesizer

An SDV **synthesizer** is an object that you can use to create synthetic data. It learns patterns from the real data and replicates them to generate synthetic data.

In [ ]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(hannum_metadata)
synthesizer.fit(hannum_data)

C:\Users\ferdi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sdv\single_table\base.py:123: UserWarning:

We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.

Now the synthesizer is ready to use!

## 2.2 Generating Synthetic Data

Use the `sample` function and pass in any number of rows to synthesize.

In [ ]:
synthetic_data = synthesizer.sample(num_rows=500)
synthetic_data.head()

,guest_email,has_rewards,room_type,amenities_fee,checkin_date,checkout_date,room_rate,billing_address,credit_card_number
0,dsullivan@example.net,False,BASIC,0.29,27 Mar 2020,09 Mar 2020,135.15,"90469 Karla Knolls Apt. 781\nSusanberg, CA 70033",5161033759518983
1,steven59@example.org,False,DELUXE,8.15,07 Sep 2020,25 Jun 2020,183.24,"6108 Carla Ports Apt. 116\nPort Evan, MI 71694",4133047413145475690
2,brandon15@example.net,False,BASIC,11.65,22 Mar 2020,01 Apr 2020,163.57,86709 Jeremy Manors Apt. 786\nPort Garychester...,4977328103788
3,humphreyjennifer@example.net,False,BASIC,48.12,04 Jun 2020,14 May 2020,127.75,"8906 Bobby Trail\nEast Sandra, NY 43986",3524946844839485
4,joshuabrown@example.net,False,DELUXE,11.07,08 Jan 2020,13 Jan 2020,180.12,"732 Dennis Lane\nPort Nicholasstad, DE 49786",4446905799576890978

The synthesizer is generating synthetic guests in the **same format as the original data**.

## 2.3 Evaluating Real vs. Synthetic Data

SDV has built-in functions for evaluating the synthetic data and getting more insight.

As a first step, we can run a **diagnostic** to ensure that the data is valid. SDV's diagnostic performs some basic checks such as:

- All primary keys must be unique
- Continuous values must adhere to the min/max of the real data
- Discrete columns (non-PII) must have the same categories as the real data
- Etc.

In [ ]:
from sdv.evaluation.single_table import run_diagnostic

diagnostic = run_diagnostic(
    real_data=hannum_data,
    synthetic_data=synthetic_data,
    metadata=hannum_metadata,
)

Generating report ...

(1/2) Evaluating Data Validity: |██████████| 9/9 [00:00<00:00, 1123.67it/s]|
Data Validity Score: 100.0%

(2/2) Evaluating Data Structure: |██████████| 1/1 [00:00<00:00, 249.54it/s]|
Data Structure Score: 100.0%

Overall Score (Average): 100.0%

<font color="green"><b>The score is 100%</b></font>, indicating that the data is fully valid.

We can also measure the **data quality** or the statistical similarity between the real and synthetic data. This value may vary anywhere from 0 to 100%.

In [ ]:
from sdv.evaluation.single_table import evaluate_quality

quality_report = evaluate_quality(
    hannum_data,
    synthetic_data,
    hannum_metadata,
)

Generating report ...

(1/2) Evaluating Column Shapes: |██████████| 9/9 [00:00<00:00, 813.29it/s]|
Column Shapes Score: 90.06%

(2/2) Evaluating Column Pair Trends: |██████████| 36/36 [00:00<00:00, 501.50it/s]|
Column Pair Trends Score: 89.29%

Overall Score (Average): 89.68%

According to the score, the synthetic data is about 88% similar to the real data in terms of statistical similarity.

We can also get more details from the report. For example, the Column Shapes sub-score is 89%. Which columns had the highest vs. the lowest scores?

In [ ]:
quality_report.get_details('Column Shapes')

          Column        Metric     Score
0    has_rewards  TVComplement  0.982000
1      room_type  TVComplement  0.984000
2  amenities_fee  KSComplement  0.764778
3   checkin_date  KSComplement  0.962000
4  checkout_date  KSComplement  0.968750
5      room_rate  KSComplement  0.742000

## 2.4 Visualizing the Data
For more insights, we can visualize the real vs. synthetic data.

Let's perform a 1D visualization comparing a column of the real data to the synthetic data.

In [ ]:
from sdv.evaluation.single_table import get_column_plot

fig = get_column_plot(
    real_data=hannum_data,
    synthetic_data=synthetic_data,
    column_name='age',
    metadata=hannum_metadata
)

fig.show()

We can also visualize in 2D, comparing the correlations of a pair of columns.

In [ ]:
from sdv.evaluation.single_table import get_column_pair_plot

fig = get_column_pair_plot(
    real_data=hannum_data,
    synthetic_data=synthetic_data,
    column_names=['cg00000108','cg00000029'],
    metadata=hannum_metadata
)

fig.show()

## 2.5 Saving and Loading
We can save the synthesizer to share with others and sample more synthetic data in the future.

In [ ]:
synthesizer.save('my_synthesizer.pkl')

synthesizer = GaussianCopulaSynthesizer.load('my_synthesizer.pkl')

# 3. Gaussian Copula Customization

A key benefit of using the Gaussian Copula is **customization and transparency**. This synthesizer estimates the shape of every column using a 1D distribution. We can set these shapes ourselves.

In [ ]:
custom_synthesizer = GaussianCopulaSynthesizer(
    hannum_metadata,
    default_distribution='truncnorm',
    numerical_distributions={
        'checkin_date': 'uniform',
        'checkout_date': 'uniform',
        'room_rate': 'gaussian_kde'
    }
)

custom_synthesizer.fit(hannum_data)

After training, we can inspect the distributions. In this case, the synthesizer returns the parameter it learned using the truncnorm distribution.

<font color=navy><i>More information about truncnorm distribution is available in the [scipy documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.truncnorm.html).</i></font>

In [ ]:
learned_distributions = custom_synthesizer.get_learned_distributions()
learned_distributions['has_rewards']

{'distribution': 'truncnorm',
 'learned_parameters': {'a': np.float64(-0.5415003253031383),
  'b': np.float64(0.46460737566051247),
  'loc': np.float64(0.5390634681863229),
  'scale': np.float64(0.9878956157544778)}}

By setting these distributions strategically, you can make tradeoffs in the quality of your synthetic data.

In [ ]:
synthetic_data_customized = custom_synthesizer.sample(num_rows=500)

quality_report = evaluate_quality(
    hannum_data,
    synthetic_data_customized,
    hannum_metadata
)

Generating report ...

(1/2) Evaluating Column Shapes: |██████████| 9/9 [00:00<00:00, 999.52it/s]|
Column Shapes Score: 93.49%

(2/2) Evaluating Column Pair Trends: |██████████| 36/36 [00:00<00:00, 584.63it/s]|
Column Pair Trends Score: 90.87%

Overall Score (Average): 92.18%

And we can verify this using the visualization functions.

In [ ]:
fig = get_column_plot(
    real_data=hannum_data,
    synthetic_data=synthetic_data_customized,
    column_name='room_rate',
    metadata=hannum_metadata
)

fig.show()

# 4. Conditional Sampling
Another benefit of using the Gaussian Copula is the ability to **efficiently sample conditions**. This allows us to simulate hypothetical scenarios.

Let's start by creating a scenario where every hotel guest is staying in a `SUITE` (half with rewards and half without).

In [ ]:
from sdv.sampling import Condition

suite_guests_with_rewards = Condition(
    num_rows=250,
    column_values={'room_type': 'SUITE', 'has_rewards': True}
)

suite_guests_without_rewards = Condition(
    num_rows=250,
    column_values={'room_type': 'SUITE', 'has_rewards': False}
)

In [ ]:
fig = get_column_plot(
    real_data=real_data,
    synthetic_data=simulated_synthetic_data,
    column_name='room_type',
    metadata=metadata
)

fig.update_layout(
    title='Using synthetic data to simulate room_type scenario'
)

fig.show()